<div class="container">
  <section class="hero">
    <h1>你好 O_^</h1>
    <img>
  </section>
  <section class="features full-width">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h1>我们来自<br>科技女孩社区</h1>
          <p>我们的定期聚会帮助从事技术工作的女性</p>
        </div>
        <div class="span3">
          <div class="feature-item">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 100 77.686" enable-background="new 0 0 100 77.686" xml:space="preserve">
              <path fill="#FFF" d="M72.729,18.183c-0.602,0-1.188,0.043-1.78,0.074c0.606,2.771,0.954,5.755,0.954,9.017
    c0,11.059-8.475,22.389-18.231,31.78l24.843,18.632v-14.05C91.301,61.483,100,52.483,100,41.325
    C100,28.571,88.229,18.183,72.729,18.183z"></path>
              <path id="_x3C_Path_x3E_" fill="#FFF" d="M33.885,0C15.354,0,0,12.553,0,28.1c0,13.604,11.985,24.646,27.272,27.271v18.185
    c0,0,39.671-23.679,39.671-46.282C66.943,9.595,52.415,0,33.885,0z M32.231,63.636V51.243C19.493,49.105,5.785,41.426,5.785,28.1
    c0-12.632,12.657-23.14,28.1-23.14c15.443,0,27.272,7.971,27.272,22.313C61.157,44.304,32.231,63.636,32.231,63.636z"></path>
            </svg>
            <p>每期有几个有意思话题</p>
          </div>
          <div class="feature-item">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 100 77.049" enable-background="new 0 0 100 77.049" xml:space="preserve">
              <path id="_x3C_Path_x3E__2_" fill="#FFF" d="M99.957,36.065c-0.859,22.779-19.59,40.984-42.58,40.984
    c-11.67,0-22.237-4.696-29.932-12.297h-15.15C5.504,64.752,0,59.25,0,52.458c0-6.789,5.504-12.293,12.295-12.293h2.861
    c-0.181-1.347-0.285-2.718-0.342-4.1h-0.06v-4.917H100v4.917H99.957z M19.731,36.065c0.137,3.117,0.632,6.143,1.479,9.018h-8.915
    c-4.075,0-7.377,3.301-7.377,7.375c0,4.075,3.302,7.379,7.377,7.379h17.227c6.895,7.554,16.82,12.295,27.854,12.295
    c20.272,0,36.806-16.002,37.663-36.065L19.731,36.065L19.731,36.065z"></path>
              <path id="_x3C_Path_x3E__1_" fill="#FFF" d="M63.936,21.311v-2.458c0-3.357-2.476-5.737-5.737-5.737c-0.14,0.005-0.683,0-0.82,0
    c-5.974,0-10.656-4.736-10.656-10.657V0h4.917v2.458c0,3.205,2.482,5.738,5.739,5.738c0.14-0.006,0.681,0,0.82,0
    c5.719,0,10.228,4.002,10.614,9.836h0.039v3.278L63.936,21.311L63.936,21.311z"></path>
              <path id="_x3C_Path_x3E_" fill="#FFF" d="M50,21.311c-7.377,0-11.454-4.735-11.454-10.656h-0.021V8.196h4.918v2.458h0.02
    c0,3.204,3.281,5.737,6.537,5.737h2.46v4.918H50V21.311z"></path>
              <circle fill="#FFF" cx="13.114" cy="52.459" r="4.098"></circle>
            </svg>
            <p>在轻松的环境里畅谈</p>
          </div>

        </div>
        <div class="span3">
          <div class="feature-item">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 89.583 100" enable-background="new 0 0 89.583 100" xml:space="preserve">
              <path fill="#FFF" d="M85.417,0H4.167C1.562,0,0,1.562,0,4.167v91.667C0,98.438,1.562,100,4.167,100h81.249
    c2.606,0,4.167-1.562,4.167-4.166V4.167C89.584,1.562,88.022,0,85.417,0z M83.334,91.667c0,1.302-0.78,2.083-2.083,2.083H8.334
    c-1.302,0-2.083-0.781-2.083-2.083V8.333c0-1.302,0.781-2.083,2.083-2.083h72.917c1.303,0,2.083,0.781,2.083,2.083V91.667z"></path>
              <circle fill="#FFF" cx="45.313" cy="82.812" r="4.687"></circle>
            </svg>
            <p>我们谈论技术和职业发展</p>
          </div>

          <div class="feature-item">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 100 75.429" enable-background="new 0 0 100 75.429" xml:space="preserve">
              <path id="_x3C_Path_x3E_" fill="#FFF" d="M96.721,75.429c-9.014,0-7.104-9.02-22.957-9.02c-15.852,0-20.295,9.02-23.776,9.02
    s-7.925-9.02-23.777-9.02c-15.85,0-13.949,9.02-22.957,9.02C1.592,75.429,0,74.243,0,72.192V12.804C0,12.804,9.677,0,26.21,0
    c16.536,0,23.91,9.092,23.91,9.092S57.092,0,73.764,0C94.33,0,100,13.116,100,13.116v59.034C100,74.198,98.578,75.429,96.721,75.429
    z M95.08,14.757c0,0-4.919-9.839-21.316-9.839c-17.08,0-19.931,9.741-23.644,9.741c-3.714,0-6.105-9.741-23.91-9.741
    c-13.585,0-21.315,9.839-21.315,9.839V68.87c0,1.023,0.614,1.64,1.64,1.64c0,0,4.481-9.021,19.676-9.021
    c16.563,0,23.91,8.848,23.91,8.848s7.109-8.848,23.643-8.848c14.897,0,19.678,9.021,19.678,9.021c1.025,0,1.641-0.616,1.641-1.64
    V14.757H95.08z"></path>
              <rect x="48.348" y="19.266" fill="#FFF" width="3.28" height="38.534"></rect>
            </svg>
            <p>我们一起成长和增长阅历</p>
          </div>



        </div>

      </div>
    </div>
  </section>


  <section class="picture full-width">
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <% unless @imgs.empty? %>
        <div class="active item">
          <img src="<%= @imgs[0].path %>">
        </div>
        <% @imgs[1..-1].each do |i| %>
        <div class="item">
          <img src="<%= i.path %>">
        </div>
        <% end %>
        <% end %>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-white icon-chevron-left"></i></a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-white icon-chevron-right"></i></a>
    </div>
  </section>

  <section class="event full-width">
    <div class="container">
      <div class="row">
        <div class="span6">
          <div class="info">
            <div class="info-item">
              <label>本期</label>
              <h2><a class="event-detail" href="event-detail.html">冬意渐浓</a></h2>
            </div>
            <div class="info-item">
              <label>时间</label>
              <h3>14:30</h3>
              <h3>2012年11月10日</h3>
            </div>
            <div class="info-item">
              <label>地点</label>
              <h3>东直门国华投资大厦1105 ThoughtWorks办公室</h3>
            </div>
            <a class="more-events" href="event-list.html"><span>往期</span></a>
          </div>
        </div>

        <div class="span6">
          <div class="map">
            <img src="img/map.png">
          </div>

        </div>
      </div>
    </div>

  </section>
  <section class="weibo full-width">
    <h1>关注我们的微博</h1>
    <a class="button btn">关注TechLady</a>
  </section>


</div>