<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tech Lady</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <script src="js/jquery.js"></script>

  <!-- Le styles -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<style>


</style>

<body>

<div class="container">
  <section class="header full-width">
    <h1>往期活动</h1>
  </section>
  <section class="event-list full-width">
    <ul>
      <% @activities.each do |activity|   %>
      <li>
        <h1><a href="http://www.chengdu-open-party.org/event/10"><%= activity.title %></a></h1>
        <div class="textile">
          <p><span class="key">时间</span><span class="value">2012年10月28日，下午2：00-5：30</span></P>
          <p><span class="key">地点</span><span class="value">ThoughtWorks成都办公室 （天府软件园E区E1-705 ）</span></p>
        </div>
      </li>
      <% end %>
    </ul>
  </section>

</div>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/google-code-prettify/prettify.js"></script>
<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-button.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script src="js/bootstrap-typeahead.js"></script>
<script src="js/application.js"></script>
</body>


</html>
